body {
	background: orange url(../img/skulls-colours.png);
	font-family: Verdana, Geneva, sans-serif;
}

.container {
	max-width: 900px;
}

.container .jumbotron {
	margin-top: 20px;
	border-radius: 0;
	background: rgba(200, 200, 200, .6);
	background-image: url(../img/tentacle.png);
	background-position: 0 10px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}

.jumbotron .lead {
	display: block;
	clear: both;
	font-size: 14pt;
	padding-top: 1em;
	text-align: center;
}

.jumbotron h1 {
	float: right;
	display:inline-block;
	width: auto;
	background: black;
	padding: 10px;
}

.jumbotron h1 .orange {
	display: block;
	line-height: 63pt;
	font-size: 72pt;
	letter-spacing: -4px;
}

.jumbotron h1 .tentacle {
	display: block;
	line-height: 42pt;
	font-size: 42pt;
	letter-spacing: 7px;
	padding-top: 5px;
	padding-left: 6px;
	padding-top 20px;
	background: black;
}


h2 {
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 36pt;
	margin: 15px;
	text-transform: uppercase;
	color: orange;
	background: black;
}

h4 {
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 10px;
	background: rgba(200, 200, 200, .6);
	background: black;
	text-align: center;
	font-family: Orbitron, sans-serif;
	font-size: 18pt;
	color: yellowgreen;
	text-transform: uppercase;
}

.col-lg-6 p {
	margin-bottom: 3em;
	padding: 10px;
	padding-bottom: 1em;
	background: rgba(200, 200, 200, .6);
}

.row > p {
	text-align: center;
}

footer {
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
}



.orange {
	color: orange;
	text-outline: 2px solid black;


	/*-webkit-text-stroke: 5px black;*/
	/*-webkit-text-fill-color: orange;*/

	/*text-shadow: -4px -4px 1px #000,*/
			/*4px -4px 1px #000,*/
			/*-4px 4px 1px #000,*/
			/*4px 4px 1px #000;*/

	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.tentacle {
	color: yellowgreen;

	/*-webkit-text-stroke: 3px black;*/
	/*-webkit-text-fill-color: green;*/

	text-shadow: -2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000;
	/*font-family: 'Days One', sans-serif;*/
	font-family: Orbitron, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
