h2 {
	text-align: center;
}

h4 {
	margin-bottom: 1em;
}

.col-lg-6 {
	padding-left: 30px;
	padding-right: 30px;
}

.col-lg-6 p {
	margin-bottom: 3em;
}

.row > p {
	text-align: center;
}

footer {
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
}
